@charset "UTF-8";

/* Style for the title class */

p {
    color: red;
    font-weight: bold;
    font-size: 30px;
}


.image {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 255);
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}